<p>Send Email with NestJS</p>
<p>Por favor, haga clic en el siguiente enlace o copie y pegue la URL en su navegador para restablecer su contraseña:</p>
<a href="{{resetPasswordLink}}" target="_blank">{{resetPasswordLink}}</a>

